PORT=5000
JWT_SECRET=joineazy_super_secret_jwt_key_2026
# Optional Neon DB PostgreSQL connection string:
# DATABASE_URL=postgresql://neondb_owner:password@ep-sample-12345.us-east-2.aws.neon.tech/neondb?sslmode=require
